body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  
  /* Variables */
  --color-success: #28a745;
  --color-danger: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;
}

.dark {
  --color-primary: #343a40;
  --color-secondary: #6c757d;
}

.light {
  --color-primary: #f8f9fa;
  --color-secondary: #6c757d;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.app-layout {
  min-height: 100vh;
  margin: 0;
}

.app-layout .content {
  flex-grow: 1;
  background-color: green;
}